
@import "bootstrap/variables.less";

// 程序主色
@color-base: #438EB9;
// 白色
@color-white: #fff;
// 边框色
@color-border: #DEDDD9;
// 橘色
@color-orange: #DD5A43;
// 绿色
@color-green: #69AA46;
// 背景灰色
@color-gray-bg: #F2F2F2;
// 悬停背景色
@color-active-bg: #F5F7FA;


// 字体设置
// @font-size-base: 13px;
@font-family-sans-serif: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: "Microsoft YaHei", Georgia, "Times New Roman", Times, serif;

// 对面包屑的修正
@breadcrumb-bg: transparent;
@breadcrumb-separator: ">";
@breadcrumb-padding-vertical: 10px;
@breadcrumb-padding-horizontal: 10px;

// 清除圆角
@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;

// 清除bootstrap默认的列间距
@grid-gutter-width: 0;

// 修改Navbar
@navbar-height: 50px;
@navbar-margin-bottom: 0;
@navbar-default-border: 0;
@navbar-padding-horizontal: 15px;
@navbar-default-bg: @color-base;
@navbar-default-color: @color-white;
@navbar-default-link-color: @color-white;
@navbar-default-brand-color: @navbar-default-link-color;
@navbar-default-brand-hover-color: @navbar-default-link-color;
@navbar-default-link-hover-color: @color-white;
@navbar-default-link-active-color: @color-white;
@navbar-default-link-hover-bg: @navbar-default-link-active-bg;

// 左边主导航
@navbar-left-bg: @color-gray-bg;
@navbar-font-color: #585858;
@navbar-left-width: 80px;
@navbar-inner-width: 200px;
@navbar-inner-bg-active: @color-active-bg;